!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
      %title SyTW - P4
      %link{:href => "/css/style.css", :rel => "stylesheet"}
        / Insertar CSS
        %link{:href => "http://netdna.bootstrapcdn.com/font-\nawesome/4.2.0/css/font-awesome.css", :rel => "stylesheet"}
  %body
    .tit
      %p Acortar URL's
    #contenido
      %i.fa.fa-google
      %a{:href => "/auth/google_oauth2"} Sign in with Google
    %br
      #contenido
        %i.fa.fa-circle-o-notch
        %a{:href => "/auth/nologin"} No Login
      #footer
        %p
          %b © SYTW
          \- Práctica 4 © - Realizado por:
          %b Jhoanmary Prz Fariña y Santiago Sainz Fernández
