<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SyTW - P4</title>
  <link  href="/css/style.css"  rel="stylesheet"> <!--  Insertar CSS  -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-
awesome/4.2.0/css/font-awesome.css">
</head>
<body>
	<div class="tit">
		<p> Acortar URL's</p>
	  </div>
	  <div class="contenido">
		<i class="fa fa-google"></i> <a href='/auth/google_oauth2'>    Sign in with Google</a>
	  </div>
	  <br>
	  <div class="contenido">
		<i class="fa fa-circle-o-notch"></i> <a href='/auth/nologin'>    No Login</a>
  </div>
	<div id="footer">
	<p> <b>© SYTW  </b> - Práctica 4 © - Realizado por: <b>Jhoanmary Prz Fariña y Santiago Sainz Fernández</b></p>
	</div>
  
</body>
</html>